In [1]:
## Type Casting -The conversion of one data type into the other data type is known as type casting in python or type conversion in python.

In [2]:
# Implicit type conversion

In [3]:
a=9
b=8.6
a+b

17.6

In [4]:
a= True # true can be consiodered as 1 in integer
b=7
a+b

8

In [5]:
# Explicit Type Casting

In [6]:
# Integer to Float and Float to Integer

a=12
b= float(a)
print(b)

12.0

In [7]:
c=67.87
d= int(c)
print(d)

67

In [8]:
# List to Tuples and Tuples to List

In [9]:
list1=[1,2,3,4,5]
tuple1= tuple(list1)
print(tuple1)

(1, 2, 3, 4, 5)

In [10]:
tuple1=(1,2,34,45,67)
list1=list(tuple1)
print(list1)

[1, 2, 34, 45, 67]